<div class="p-3">
  <h2>Edit</h2>
</div>
<div class="card card-form mx-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">

<div class="p-3">
  <form id="name-edit" data-id="{{id}}">
    <div class="form-group">
      <input type="hidden" name="shoe-id" value="{{Shoe.id}}" />

      <label for="exampleFormControlTextarea1">Name</label>
      <input name="shoe-name" value="{{Shoe.name}}" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>

      <label for="exampleFormControlTextarea1">Brand</label>
      <input name="shoe-brand" value="{{Shoe.brand}}" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>

      <label for="exampleFormControlTextarea1">Style</label>
      <input name="shoe-style" value="{{Shoe.style}}" class="form-control" id="exampleFormControlTextarea1" rows="1"></input>
      <br>
      <button type="submit" class="btn btn-lg active" role="button" aria-pressed="true">Update</button>
      <button id="delbtn" type="button" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Delete</button>
     
  </form>
  <div>
<div>

      </div>
      </div>
      </div>

  
<script src="/js/edit.js"></script>